In [2]:
# 수를 두배하는 함수를 선언하시오.
# double()

In [3]:
def double(num):
    mul = num * 2
    return mul

In [16]:
double(2)

In [14]:
# 3배 해주는 triple함수를 만들어라.
def triple(input):
    return input*3

In [17]:
triple(2)

6

In [45]:
# check_number() 인자값을 받아 정수가 양수인지, 음수인지, 0인지를 판별하시오.
def check_number(num):
    return "양수입니다." if num>0 else("음수입니다." if num<0 else "0입니다.")

In [50]:
check_number(0)

'0입니다.'

In [52]:
# String 문자열과 관련된 함수들...
# split-분리, join, replace, startwith, endwith, Len, ......
# 엑셀에서 CSV파일.
data="123,홍길동,30,best@gmail.com"
data.split(",")

['123', '홍길동', '30', 'best@gmail.com']

In [55]:
my_infos=['홍길동','30','best@gmail.com','대구시 중구 남산동']

In [57]:
",".join(my_infos)

'홍길동,30,best@gmail.com,대구시 중구 남산동'

In [59]:
data.replace(",","|")

'123|홍길동|30|best@gmail.com'

In [62]:
'홍길동' in data

True

In [65]:
data.startswith("1")

True

In [67]:
data.startswith("100")

False

In [69]:
animals=[]
animals.append("강아지")

In [72]:
animals

['강아지']

In [75]:
student={"name":"홍길동","email":"best@gmail.com"}

In [77]:
student.get(address)

NameError: name 'address' is not defined

In [81]:
student.get("address")

In [87]:
student.get("address","주소를 찾을 수 없습니다.")

'주소를 찾을 수 없습니다.'

In [93]:
fp=open("first.txt","r")
data=fp.read()

In [95]:
data

'Hello\nPython programming'

In [97]:
data.split("\n")

['Hello', 'Python programming']

In [99]:
import requests
import pandas as pd

In [100]:
response=requests.get("http://api.zigbang.com/v1/items?detail=true&item_ids=11677482&item_ids=11459157&item_ids=11786269")